<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 "NULL"로
		인식하도록 설정
		* value 설정시 NULL은 반드시 대문자로 작성! -->
	</settings>
	<typeAliases>
		<typeAlias type="com.kh.mop.scheduler.domain.Scheduler" alias="Scheduler"/>
		
	</typeAliases>
	<mappers>
	<mapper resource="mapper/scheduler-mapper.xml"></mapper>
	</mappers>
</configuration>
